@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
    background-color: #ffeb3b; /* Example highlight color */
    border-radius: 50%;
  }
  .hover-scale {
    transition: all 0.3s ease-in-out;
  }
  
  .hover-scale:hover {
    transform: scale(1.15);
  }
  .react-calendar .highlight {
    background-color: #ffeb3b;
    color: black;
  }
  
  .react-calendar .blocked {
    background-color: #e57373;
    color: white;
  }
  .react-calendar .job-day {
    background-color: #ffeb3b;
    color: #e57373;
  }
  
  .react-calendar .job-day:hover {
    background-color: #cce6ff;
  }
  