@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
    background-color: #ffeb3b; /* Example highlight color */
    border-radius: 50%;
  }
  .hover-scale {
    transition: all 0.3s ease-in-out;
  }
  
  .hover-scale:hover {
    transform: scale(1.15);
  }